* {
    box-sizing: border-box;
}

body {
    transform: scale(1);
    outline: none;
    margin: 0;
    font-family: 'Audiowide', sans-serif;
    background: rgb(42, 42, 42);
    color: #fafafa;

    /* Background image */
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), 
    url('1.d25af17a.webp');
    background-size: cover; /* Makes the image cover the entire container */
    background-position: top center; /* Keeps the image centered */
}

header {
    display: block;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 51;
    background-color: rgba(26, 26, 26, 0.8);
    border: solid 8px rgb(94, 94, 94);
    padding-top: 15px;
}

.site-header-inner {
    display: flex;
    justify-content: start;
    padding: 15px;
}

.site-header-inner nav {
  display: flex;
  justify-content: right; /* spreads links across available space */
  flex: 1; /* makes nav take all free horizontal space */
  gap: 60px;
  margin-right: 50px;
}

.site-header-inner a {
  text-align: center;             /* centers text in each “slot” */
  font-size: 20px;
  color: rgb(34, 34, 34);
  text-decoration: none;
  background-color: rgb(251, 209, 125);
  padding-top: 10px;
  width: 200px;
}

.site-header-inner a:hover {
    background-color: rgb(219, 178, 94);
}

#block-control-Nav-btn:hover,
#flow-control-Nav-btn:hover,
#operations-Nav-btn:hover,
#input-output-Nav-btn:hover,
#unit-control-Nav-btn:hover {
    background-color: rgb(27, 25, 25);
}

#block-control-Nav-btn,
#flow-control-Nav-btn,
#operations-Nav-btn,
#input-output-Nav-btn,
#unit-control-Nav-btn {
    background-color: rgb(45, 45, 45);
    border-bottom: solid 7px rgb(94, 94, 94);
}

#block-control-Nav-btn {
    color: rgb(212, 129, 107);
    background-color: rgb(34, 34, 34);
}

#flow-control-Nav-btn {
    color: rgb(107, 178, 178);
    background-color: rgb(34, 34, 34);
}

#operations-Nav-btn {
    color: rgb(135, 123, 173);
    background-color: rgb(34, 34, 34);
}

#input-output-Nav-btn {
    color: rgb(160, 138, 138);
    background-color: rgb(34, 34, 34);
}

#unit-control-Nav-btn {
    color: rgb(199, 181, 157);
    background-color: rgb(34, 34, 34);
}

.header-logo img {
    width: 600px;
    height: auto;
}

.main {
    display: grid;
    grid-template-columns: 400px 1fr; /* aside 250px, main takes remaining space */
    gap: 0;
}

/* 
If the aside panel changes positions independent of the viewport it's because
it only sticks when in the parent element - if you look beyond the parent, it
won't follow
*/
.main aside {
    z-index: 50;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.8);
    border: solid 8px rgb(94, 94, 94);
    border-top: 0;
    height: 100%;
}

.main aside a {
    font-size: 20px;
}

.main aside .desc {
    font-size: 18px;
    margin-bottom: 20px;
}

.main aside .nav-wrap {
    background-color: rgb(34, 34, 34);
    border-radius: 10px;
}

.main aside .nav-wrap nav {
    margin: 10px;
}

.main aside .brand,
.main aside .strap {
    font-size: 20px;
}

.left-panel-wrap {
    width: 100%;
    position: sticky;
    top: 140px;
}

.dropdn-wrap a {
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
    display: flex;
    color: inherit;
    padding: 3px 15px;
    margin: 10px 0;
    gap: 3px;
    justify-content: space-between;
    align-items: center; /* Aligns elements horizontally */
    flex: 1; /* grows to fill available space */
    text-decoration: none;
}

.dropdn-wrap a:hover {
    background-color: rgb(94, 94, 94)
}

.dropdn-wrap .label {
    flex: 1;                /* label takes remaining space */
    white-space: nowrap;    /* prevents line breaks */
}

.dropdn-wrap .number {
    margin-right: 9px;
    padding: 7px 9px; /* vertical + horizontal */
    color: rgb(34, 34, 34);
    background-color: rgb(251, 209, 125);
    border-radius: 10px;
}

.nav-btn-wrap {
    display: flex;
    align-items: center; /* Aligns elements horizontally */
    justify-content: space-between;
    gap: 10px;
}

.nav-btn-wrap button {
    cursor: pointer;
}

.img-wrap {
    padding: 5.4px 5px;
    border-radius: 50%;
    background-color: rgb(68, 68, 68);
    border: none;
}

.img-wrap:hover {
    background-color: rgb(94, 94, 94);
}

.img-wrap img.rotate {
    transform: rotate(180deg);
}

.img-wrap img {
    transition: transform 0.37s ease;
    width: 25px;
}

#block-control-lst {
    list-style: none;
    padding: 0;
}

#block-control-lst li {
    height: 40px;
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
    margin: 9px 10px;
    text-indent: 10px;
    line-height: 40px;
}

#block-control-lst li:hover {
    background-color: rgb(94, 94, 94);
}

.legal {
    margin-top: 30px;
    font-size: 20px;
}

.main-shell {
    margin: 60px;
}

.main-shell .title {
    font-size: 55px;
    margin: 20px 0;
}

.main-shell .subtitle {
    font-size: 35px;
    margin: 10px 0;
}

.main-shell p {
    font-size: 25px;
    margin: 10px 0;
}

#intro {
    margin-bottom: 150px;
}

#intro .title {
    font-size: 120px;
    margin: 0;
    margin-top: 70px;
}

#block-control .title,
#block-control .subtitle {
    color: rgb(212, 129, 107);
}

#flow-control .title,
#flow-control .subtitle {
    color: rgb(107, 178, 178);
}

#operations .title,
#operations .subtitle {
    color: rgb(135, 123, 173);
}

#input-output .title,
#input-output .subtitle {
    color: rgb(160, 138, 138);
}

#unit-control .title,
#unit-control .subtitle {
    color: rgb(199, 181, 157);
}

#intro .subtitle {
    font-size: 25px;
    margin-top: 30px;
}

.mlog-sections {
    background-color: rgba(26, 26, 26, 0.8);
    border: solid 8px rgb(94, 94, 94);
    padding: 19px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.site-footer__inner {
    font-size: 20px;
}

.footerMsg {
    text-decoration: none;
}